<div style="align-content: center" id="title">
  <h1 style="text-align: center; padding: 10px;">{{title}}</h1>
  <h2 style="text-align: center; padding: 10px;">{{subTitle}}</h2>
  <p style="text-align: center; padding: 10px;">{{email}}</p>
</div>
<article class="about">
<h2 style="text-align: justify; padding: 10px;" >Sobre mi</h2>
<h3 style="text-align: justify; padding: 10px;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisi mi,
   feugiat quis mollis vel, tristique facilisis quam. Nulla dolor arcu, iaculis ac est nec, consequat pharetra tortor. </h3>
   <h3 style="text-align: justify; padding: 10px;" >
   Vivamus magna tortor, fringilla vel tristique ut, aliquam vitae dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
   Donec ornare tincidunt ligula, eget eleifend odio congue a. Nullam egestas, lacus non pharetra consequat, justo erat semper odio,
   dictum rhoncus tellus libero malesuada leo. Mauris auctor faucibus mattis.</h3>
   <h3 style="text-align: justify; padding: 10px;" >
    Nam non tempor est, a sagittis est. Mauris finibus lacinia est, quis facilisis justo blandit sit amet. Duis varius tempus elementum.
    Duis tempor massa sem, non scelerisque lorem gravida sed. Aenean euismod, neque vitae fermentum dapibus, quam elit blandit libero,
    et euismod diam turpis eget mi. Duis volutpat, nisi at venenatis cursus, nisl mi mollis velit, et pharetra orci arcu eget risus.
    In sit amet ante sit amet lorem fermentum dapibus. Praesent sed sapien pharetra, pharetra felis nec, consectetur lectus.</h3>

    <h3 style="text-align: justify; padding: 10px;" >
    Nulla convallis libero et libero sodales dapibus. Curabitur fermentum mattis leo non dictum. Maecenas libero magna, eleifend non mollis in,
    porttitor sed enim. Nam sit amet gravida nunc. Sed odio nibh, placerat non magna venenatis, sollicitudin faucibus erat.</h3>
    <h3 style="text-align: justify; padding: 10px;" >
    Donec lobortis magna risus, viverra vestibulum ante efficitur at. Nam fringilla malesuada lobortis. Pellentesque ante dolor,
    faucibus sit amet cursus ac, auctor ac velit. Morbi at consequat ex, et lacinia augue. Aenean hendrerit metus id nisl accumsan,
    at congue sem iaculis. Donec sed egestas tellus. Donec sodales, enim ut egestas feugiat, ex nisl ornare mi, non tincidunt magna purus
    eu massa.</h3>
    <h3 style="text-align: justify; padding: 10px;" >
    Aenean scelerisque ultrices ante non viverra. Vestibulum dignissim lectus lorem, non pharetra purus euismod blandit. Praesent imperdiet
     ipsum eget malesuada accumsan. Curabitur pulvinar vitae elit rutrum posuere. Nullam at mattis mi. Sed sit amet imperdiet ex, eu posuere
      eros. Suspendisse consequat tellus mauris, aliquam eleifend urna ullamcorper id. Duis tincidunt urna id massa volutpat, hendrerit tempus
       elit pharetra. Quisque condimentum faucibus mauris ac fringilla. Duis et neque convallis, efficitur sem vitae, vehicula ligula.</h3>
       <h3 style="text-align: justify; padding: 10px;" >
    Quisque turpis libero, porttitor a nulla eu, iaculis vulputate lectus. Ut facilisis non purus sit amet molestie. 
    Ut malesuada finibus ultrices. Praesent lacinia velit nibh, elementum semper diam iaculis ac. Morbi id vestibulum enim,
     non tempor justo. Ut urna lacus, ornare eu odio eu, convallis dictum mauris. Pellentesque nunc libero, tincidunt ut venenatis eu,
      hendrerit at libero. Etiam nec ex cursus libero iaculis suscipit. Etiam facilisis mi quis orci consequat lobortis.</h3>
</article>