/* Importar Fuentes Personalizadas*/
@font-face{
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}
@font-face{
    font-family: "finger";
    src: url("fonts/finger.ttf");
}

/*Generales*/
*{
    margen: 0px;
    padding: 0px;
}

body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattern.png");
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}

/*Barra De Navegacion Header*/
header{
    
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(72, 11, 138, 0.8);
    position: fixed;
    text-transform: uppercase;
    margin: -3px 0 0 -8 px;
}

header ul{
    display: block;
    width: 48%;
    height: inherit;
    margin: 0px auto;
}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 88px;
    margin-top: -3px;
}
header ul li a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms; 
}

header a:hover,
.actived{
    background: rgba(0, 0, 0, 0.8)
}
#logo{
    font-family: "finger";
    font-size: 30px;
}
#logo a{
    transition: color 500ms, transform 500ms;
}
#logo a:hover{
    background: transparent;
    color:black;
    transform: scale(1.80, 1.80);
}

/* Contenedor Principal..*/

#content{
    min-height: 600px;
    width: 75%;
    height: auto;
    margin: 0 auto; /*Para Centrar */
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
}

/*Pie De Pagina Footer*/

footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0 , 0.5);
}

/**/
#title{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 20px;
}

#title h1{
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#title h2{
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}
article.about{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about h3{
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Sesion Formulario*/

.container{
    padding: 50px;
    padding-top: 10px;
}
.container h2{
    border-bottom: 1px solid #ccc;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.container .image img{
    width: 60%;
}

.container .data{
    width: 50%
}
form{
    width: 50%;
}
form label{
    display: block;
    width:100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width:80%;
    padding: 5px;

}

form input[type="submit"],
.buttom-edit,
.buttom-delete{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top:15px;
    color:white;
    background: rgba(72, 11, 138, 0.8);
    border: 1px solid rgba(38, 7, 76, 0.8);
    cursor: pointer;
}
.buttom-edit,
.buttom-delete{
    width: 20%;
    margin-right: 10px;
    text-decoration: none;
}

form input:hover[type ="submit"]{
    background: rgba(59, 14, 107, 0.9);
    border: 1px solid rgba(31, 6, 61, 0.8);
}

form input:hover[disabled]{
    opacity: 0.3;
    cursor: not-allowed;
}

.form_error{
    padding: 3px;
    background: red;
    color: white;
    font-size: 14px;
}

.ventana_flotante {
    background: none repeat scroll 0 0 rgb(59, 182, 59);
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    bottom: 50px;
    left: auto;
    margin-left: 20px;
    padding: 10px 0 0;
    position: top;
    text-align: center;
    width: 280px;
    color:white;
    z-index: 10;
}
.ventana_flotante2 {
    background: none repeat scroll 0 0 rgb(236, 69, 69);
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    bottom: 50px;
    left: auto;
    margin-left: 20px;
    padding: 10px 0 0;
    position: top;
    text-align: center;
    width: 180px;
    color:white;
    z-index: 10;
}

/*PAgina De Proyectos*/
.project
{
    list-style: none;
    display: inline-block;
    /*float: left;*/
    width: 29%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.project .image{
    width: 100%;
    height: 130px;
    overflow: hidden;
}
.project .project_h3{
    margin-bottom: 1%;  
}
.project .project_p{
    margin-top: 1%;  
}
.project img{
   width: 100%;
}

.project_ul{
    margin-bottom: -4%;
}

.foto_404{
    margin-left: 27%;
}
.project a{
    text-decoration: none;
    color:black;
}

